@font-face {
    font-family: FinalFantasy;
    src: url(../assets/finalf.ttf)
}

body {
    background-color: lightgray;
    font-family: FinalFantasy;

}

.titulo {
    height: 25vh;
}

.boton{
    height: 25vh;
}