body {

    background-color: aquamarine;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombres {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 20em;
}

.botonJuego {
    display: flex;
    align-items: center;
    justify-content: center;
}
