@font-face {
    font-family: FinalFantasy;
    src: url(../assets/finalf.ttf)
}

body {
    background-color: black;
    font-family: FinalFantasy;
    overflow: hidden;
    background-image: url(../assets/Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 70%;

}

.titulo {
    height: 25vh;
}

.boton{
    height: 25vh;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    height: 15vh;
    width: 50vh;
    background-color: blue;
    color: white;
    border: solid 5px white;
    border-radius: 10px;
    
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    height: 15vh;
    width: 50vh;
    background-color: blue;
    color: white;
    border: solid 5px white;
    border-radius: 10px;
    font-size: x-large;
}

input{
    text-align: center;
    background-color: blue;
    color: white;
    border: solid 3px white;
    border-radius: 10px;
}

button{
    background-color: blue;
    color: white;
    border: solid 3px white;
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
}