

.Tablero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    height: 60vh;
    width: 60vh;
    border: solid 2px black;
    border-radius: 2%;
}

.celdas {
    border: solid 1px black;
    cursor: pointer;
    transition: 0.2s;
    margin: 0.45em;
    background-color: blue;
    border-radius: 6%;
}

.celdas:hover{
    scale: 1.1;
    transition: 0,2s;
}



