@font-face {
    font-family: FinalFantasy;
    src: url(../assets/finalf.ttf)
}

body {
    font-family: FinalFantasy;
    background-color: black;
    background-image: url(../assets/Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 70%;
    overflow: hidden;
    margin: auto;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    height: 15vh;
    width: 50vh;
    background-color: blue;
    color: white;
    border: solid 7px white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    
}

a{
    color: white;
    text-decoration: none;
}